<div>
    {{#each displayResult as |result|}}
    <div>
        <div>
            <a class="p-link" href="{{link}}">View in CyberSponse</a>
        </div>
        <h1 class="p-title">
            <i class="fa fa-fw fa-info"></i> {{result.name}}
        </h1>
        {{#each result.items as |item|}}
        <div>
            <span class="p-key">{{item.key}}</span>
            <span class="p-value">{{item.value}}</span>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>